/* Write your CSS code here */
.list-cont {
  display: flex;
  flex-direction: column;
}
.title-date {
  display: felx;
  flex-direction: row;
  justify-content: space-between;
}
.title {
  font-size: 15px;
  font-weight: bold;
}
.paras {
  font-size: 10px;
  color: #9aa5b1;
}
